@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --header-height: 3rem;

  /* ========COLORS======== */
  --first-color: hsl(31, 77%, 52%);
  --second-color: hsl(184, 100%, 22%);
  --third-color: hsl(179, 100%, 13%);

  /*======= Font and typography============= */
  --body-font: "Lexend Deca", sans-serif;
  --title-font: "Big Shoulders Display", cursive;

  /* ==========FONT WEIGHT========== */
  --font-medium: 400;
  --font-semi-bold: 700;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  /* font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color); */
}
