@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

font-family: "Big Shoulders Display", cursive;
font-family: "Lexend Deca", sans-serif;

:root {
  --header-height: 3rem;

  --body-font: "Big Shoulders Display", cursive;
  --title-font: "Lexend Deca", sans-serif;

  /* ==========FONT WEIGHT========== */
  --font-medium: 400;
  --font-semi-bold: 700;
}
