@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --header-height: 3rem;

  /* ========COLORS======== */
  --first-color: hsl(31, 77%, 52%);
  --second-color: hsl(184, 100%, 22%);
  --third-color: hsl(179, 100%, 13%);
  --Transparent: hsla(0, 0%, 100%, 0.75);
  --button-background: hsl(0, 0%, 95%);

  /*======= Font and typography============= */
  --body-font: "Lexend Deca", sans-serif;
  --title-font: "Big Shoulders Display", cursive;
  --normal-font-size: 0.938rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;

  /* ==========FONT WEIGHT========== */
  --font-medium: 400;
  --font-semi-bold: 700;

  /*========== Margenes ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;

  @media screen and (min-width: 968px) {
    :root {
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.75rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
    }
  }
}

/*=============== BASE ===============*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--button-background);
  color: var(--button-background);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

/* ============REUSABLE CSS CLASSES========= */
.section {
  padding: 4.5rem 0 2.5rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  margin-bottom: var(--mb-2);
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
}

/*==================== First Car ======================*/
.car__description {
  margin-bottom: var(--mb-2);
  color: var(--button-background);
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
}

.button {
  display: inline-block;
  background-color: var(--button-background);
  padding: 0.8rem 1.5rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
  border-radius: 3rem;
  width: 60%;
}

.sedan__color {
  background-color: var(--first-color);
}
.car__data {
  display: grid;
  padding: 3rem 3.5rem;
}

.button:hover {
  background-color: var(--Transparent);
}
.svg__img {
  margin-bottom: var(--mb-1-5);
}

.suv__color {
  background-color: var(--second-color);
}

.button1 {
  color: var(--first-color);
}
.button2 {
  color: var(--second-color);
}

.button3 {
  color: var(--third-color);
}

.luxury__color {
  background-color: var(--third-color);
}
.container {
  display: grid;
  box-shadow: -1px 0 4px rgba(79, 0, 236, 0.15);
}
.boarder-radius {
  border-radius: 10px 10px 0px 0px;
}
